<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.memmgt.dao.MemberDAO">

<!-- 	<select id="Memseq" resultType="int"> -->
<!-- 	select nvl(count(MEMSEQ),0)+1 MEMSEQ from memtb -->
<!-- 	</select> -->
	
	<insert id="SaveData" parameterType="mvo">
	<selectKey keyProperty="memSeq" resultType="int" order="BEFORE">
		select nvl(max(MEMSEQ),0)+1 memseq from memtb
	</selectKey>

		insert into memtb(MEMID,MEMPASSWD,MEMSEQ,MEMNAME,MEMTEL,MEMBIRTH,REGDATE,MEMEMAIL,MEMGENDER)
		values (#{memId},#{memPasswd},#{memSeq},#{memName},#{memTel},#{memBirth},sysdate,#{memEmail},#{memGender})
	</insert>
	
	<select id="getMembers" parameterType="hashmap" resultType="mvo">
		SELECT A.*
		FROM(SELECT ROWNUM RR, MEMTB.*
		FROM
		(SELECT MEMID,MEMSEQ,MEMNAME,MEMTEL,MEMBIRTH,REGDATE,MEMEMAIL,MEMGENDER
		FROM MEMTB
		ORDER BY REGDATE DESC) MEMTB) A
		
	</select>
	
	<select id="getMember" parameterType="mvo" resultType="mvo">
		SELECT MEMID,MEMSEQ,MEMNAME,MEMTEL,MEMBIRTH,REGDATE,MEMEMAIL,MEMGENDER
		FROM MEMTB WHERE MEMSEQ=#{memSeq}
	</select>
	
	<update id="modifyMember" parameterType="mvo">
		UPDATE MEMTB SET MEMPASSWD=#{memPasswd},MEMNAME=#{memName},
		MEMTEL=#{memTel},MEMBIRTH=#{memBirth},MEMEMAIL=#{memEmail},MEMGENDER=#{memGender}
		WHERE MEMSEQ=#{memSeq}
	</update>
	
	<update id="deleteMember" parameterType="mvo">
		DELETE FROM MEMTB WHERE MEMSEQ=#{memSeq}
	</update>
	
	<select id="idcheck" parameterType="String" resultType="int">
		select count(*) from memtb where memId=#{memId}
	</select>
</mapper>