<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.DAO.ItemDAO">
	<select id="getItems" resultType="idto">
		select ITEM_NO,ITEM_NAME,ITEM_DESCRIPTTION,ITEM_FIRST_PRICE,
		ITEM_DISCOUNT,ITEM_THUMBNAIL,ITEM_SALES_RATE,ITEM_STOCK,CATEGORY_NO,REG_DATE
		from item where item_no = 
		<foreach collection="list" item="idto" separator="or item_no =">
			#{idto.item_no}	
		</foreach>
	</select>
	
</mapper>