<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmjsmj.DAO.OrderDAO">
	<select id="getAllCount" parameterType="mdto" resultType="Integer">
		select count(ORDER_NO) count from order_list natural join order_item where mem_id=#{mem_id}
	</select>
	
	<select id="deliveringCnt" parameterType="mdto" resultType="Integer">
		select count(*) from order_item natural join (select order_no from order_list  where mem_id=#{mem_id} and ORDER_STATUS='배송중')
	</select>
	
	<select id="getList" parameterType="HashMap" resultType="mpoDTO">
	select *
			from(select rownum rr, a.*
    					from(select ORDER_NO,ITEM_NO,ITEM_NAME, ITEM_FIRST_PRICE, ITEM_DISCOUNT, ITEM_THUMBNAIL,
    								TO_CHAR(ORDER_DATE,'DAY')||' '||TO_CHAR(ORDER_DATE,'MONDD')||'일' ORDER_DATE,
       								ORDERS_ITEM_CNT,MEM_ID,ORDER_STATUS,ORDER_REQUEST,ORDER_TO_NAME,ORDER_TRACKING_NUM,
       								ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL 
         from item natural join 
           (select ORDER_NO,ITEM_NO,ORDERS_ITEM_CNT,ORDERS_ITEM_MONEY,MEM_ID,ORDER_DATE,ORDER_STATUS,ORDER_REQUEST,
                   ORDER_TO_NAME,ORDER_TRACKING_NUM,ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL
                     from order_item NATURAL join 
                        (select ORDER_NO,ORDER_DATE,ORDER_STATUS,ORDER_TRACKING_NUM,
                                ORDER_TO_NAME,ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL,
                                ORDER_REQUEST,MEM_ID from order_list order by ORDER_DATE)) where mem_id =#{mdto.mem_id})a)	b 
			where rr BETWEEN #{start} and #{end} order by ORDER_DATE
	</select>
	
	<select id="getItem" parameterType="mpoDTO" resultType="mpoDTO">
		select ORDER_NO,ITEM_NO,ITEM_NAME,
       ITEM_FIRST_PRICE,ITEM_DISCOUNT,ITEM_THUMBNAIL,TO_CHAR(ORDER_DATE,'DAY')||' '||TO_CHAR(ORDER_DATE,'MONDD')||'일' ORDER_DATE,
       ORDERS_ITEM_CNT,MEM_ID,ORDER_STATUS,ORDER_REQUEST,ORDER_TO_NAME,ORDER_TRACKING_NUM,ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL 
         from item natural join 
           (select ORDER_NO,ITEM_NO,ORDERS_ITEM_CNT,ORDERS_ITEM_MONEY,MEM_ID,ORDER_DATE,ORDER_STATUS,ORDER_REQUEST,
                   ORDER_TO_NAME,ORDER_TRACKING_NUM,ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL
                     from order_item NATURAL join 
                        (select ORDER_NO,ORDER_DATE,ORDER_STATUS,ORDER_TRACKING_NUM,
                                ORDER_TO_NAME,ORDER_TO_ADDRESS,ORDER_ADDRESS_DETAIL,
                                ORDER_REQUEST,MEM_ID from order_list )) where mem_id = #{mem_id} and order_no=#{order_no} and item_no=#{item_no} order by order_no desc 
	</select>
</mapper>