<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.DAO.AdminDAO">

	<select id="loginpro" resultType="int" parameterType="mvo">
		select count(*) from admin where admin_id=#{admin_id} and admin_passwd=#{admin_passwd}
	</select>
	
	<select id="memberList" resultType="map">
		select m_name,mem_id,m_phone,m_email,address from member
		<choose>
			<when test="mem_id!=null">
				where mem_id=#{mem_id}
			</when>
		</choose>
	</select>
</mapper>