<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.DAO.ProductDAO">

	<select id="productList" resultType="pvo">
		select name, price, pr_date, stock from SHOP_PRODUCT
	</select>
	
	<insert id="productInsertPro" parameterType="pvo">
		insert into
		SHOP_PRODUCT(NO,NAME,PRICE,DETAIL,PR_DATE,STOCK,IMAGE)
		values
		((select nvl(max(no),0)+1 no from SHOP_PRODUCT),#{name},#{price},#{detail},sysdate,#{stock},#{image})
	</insert>
</mapper>